/* Enable image placeholders */
@-moz-document url-prefix(http), url-prefix(file) {
  img:-moz-broken {
    -moz-force-broken-image-icon: 1; } }

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-ms-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@font-face {
  font-family: 'Bariol';
  src: url("/css/fonts/bariol/bariol_regular-webfont.eot");
  src: url("/css/fonts/bariol/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/bariol/bariol_regular-webfont.woff") format("woff"), url("/css/fonts/bariol/bariol_regular-webfont.ttf") format("truetype"), url("/css/fonts/bariol/bariol_regular-webfont.svg#BariolRegularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  overflow: auto; }

body {
  overflow: hidden; }

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1100px;
  font-family: "bebas-neue";
  margin: 0px;
  padding: 0px; }

input, textarea, select {
  font-family: "bebas-neue"; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

tr {
  text-align: left; }

a {
  text-decoration: none;
  color: #E48B4F;
  -webkit-transition: 0.3s opacity ease;
  -moz-transition: 0.3s opacity ease;
  -ms-transition: 0.3s opacity ease;
  -o-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease; }
  a:hover {
    opacity: .8; }

select {
  -webkit-appearance: none;
  border: none; }

#photos {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px; }
  #photos .ali:after, #photos .joseph:after, #photos .kenny:after, #photos .rj:after {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    padding: 4px;
    width: 50px;
    height: 13px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    behavior: url("/lib/PIE-1.0.0/PIE.php");
    background-color: white;
    left: 50%;
    margin-left: -30px;
    line-height: 14px;
    font-size: 13px; }
  #photos .ali:hover:after, #photos .joseph:hover:after, #photos .kenny:hover:after, #photos .rj:hover:after {
    opacity: 1; }
  #photos .joseph:after {
    content: "Joseph Ong"; }
  #photos .rj:after {
    content: "R.J. Aquino"; }
  #photos .kenny:after {
    content: "Kenny Yu"; }
  #photos .ali:after {
    content: "Ali Nahm"; }
  #photos img {
    vertical-align: bottom;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px 3px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    behavior: url("/lib/PIE-1.0.0/PIE.php");
    border: 2px solid white;
    box-shadow: 0px 1px 3px #777777;
    behavior: url("/lib/PIE-1.0.0/PIE.php");
    -moz-box-shadow: 0px 1px 3px #777777;
    -webkit-box-shadow: 0px 1px 3px #777777;
    cursor: pointer; }
  #photos > * {
    display: inline-block;
    position: relative;
    opacity: 1;
    -webkit-transition: 0.2s ease-out top;
    -moz-transition: 0.2s ease-out top;
    -ms-transition: 0.2s ease-out top;
    -o-transition: 0.2s ease-out top;
    transition: 0.2s ease-out top; }
    #photos > *:hover {
      -webkit-transition: 0.2s ease-in top;
      -moz-transition: 0.2s ease-in top;
      -ms-transition: 0.2s ease-in top;
      -o-transition: 0.2s ease-in top;
      transition: 0.2s ease-in top;
      top: -5px; }

#sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 250px;
  background-color: #E48B4F;
  color: white;
  font-family: "bebas-neue"; }

#sidebar h1 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: 1px; }

#navigation, #predictor-links {
  padding: 0px;
  margin: 30px 0px; }
  #navigation li, #predictor-links li {
    padding: 8px 15px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: 0.3s ease background-color;
    -moz-transition: 0.3s ease background-color;
    -ms-transition: 0.3s ease background-color;
    -o-transition: 0.3s ease background-color;
    transition: 0.3s ease background-color; }
    #navigation li:hover, #predictor-links li:hover {
      background-color: #303030; }
    #navigation li.selected, #predictor-links li.selected {
      background-color: #303030; }

#sidebar .subtext {
  text-align: center;
  margin-top: 0px;
  letter-spacing: 1px; }

#site-content-wrapper {
  position: absolute;
  left: 250px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
  background-color: #303030; }

#site-content {
  width: 800px;
  min-height: 100%;
  background-color: white;
  margin-left: 125px;
  border-top: 10px solid #E48B4F;
  position: relative; }
  #site-content .section {
    margin: 0px auto 0px auto;
    text-align: justify;
    padding-bottom: 20px;
    vertical-align: bottom;
    font-family: 'raleway';
    font-weight: 400;
    font-size: 14px; }
    #site-content .section.paddingless {
      padding-bottom: 0px; }
      #site-content .section.paddingless iframe {
        vertical-align: bottom; }
    #site-content .section img {
      width: 780px;
      margin: 0px 10px 10px 10px; }
    #site-content .section p {
      margin: 0px 20px 20px 0px;
      padding: 0px 20px 0px 20px;
      line-height: 1.5em; }
      #site-content .section p.caption {
        text-align: center;
        font-style: italic; }
      #site-content .section p.quote {
        border-left: 5px solid #EEE;
        margin-left: 20px;
        padding-left: 10px; }
    #site-content .section .grid-wrapper {
      list-style-type: none;
      margin: 25px 0px 30px 0px;
      padding: 0px; }
      #site-content .section .grid-wrapper li {
        position: relative;
        display: inline-block;
        margin: 0px;
        vertical-align: bottom;
        cursor: pointer; }
        #site-content .section .grid-wrapper li a div {
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          font-family: 'bebas-neue';
          opacity: 0;
          text-align: center;
          line-height: 94px;
          background-color: rgba(0, 0, 0, 0.6);
          -webkit-transition: 0.3s ease opacity;
          -moz-transition: 0.3s ease opacity;
          -ms-transition: 0.3s ease opacity;
          -o-transition: 0.3s ease opacity;
          transition: 0.3s ease opacity;
          color: white;
          font-size: 20px; }
        #site-content .section .grid-wrapper li a:hover div {
          opacity: 1; }
        #site-content .section .grid-wrapper li a img {
          display: inline-block;
          width: 160px;
          margin: 0px;
          vertical-align: bottom; }
      #site-content .section .grid-wrapper li.medium a div {
        line-height: 116px; }
      #site-content .section .grid-wrapper li.medium a img {
        width: 200px; }
    #site-content .section p, #site-content .section ol {
      color: #555; }
    #site-content .section ol {
      margin: 0px 20px 20px 0px;
      padding: 0px 80px 0px 50px; }
      #site-content .section ol li {
        margin-bottom: 15px; }
    #site-content .section ul {
      margin: 20px 20px 20px 0px; }
    #site-content .section h1 {
      margin: 0px 0px 20px 0px;
      font-size: 20px;
      color: #444;
      padding: 15px 20px 12px 20px;
      background-color: #EEE;
      position: relative;
      font-family: "bebas-neue"; }
      #site-content .section h1.marginless {
        margin: 0px; }
      #site-content .section h1:before {
        content: '';
        border: 5px solid transparent;
        border-right: 5px solid #EEE;
        position: absolute;
        top: 20px;
        left: -10px; }
      #site-content .section h1:after {
        position: absolute;
        top: 0px;
        left: -65px;
        content: '';
        width: 50px;
        height: 50px;
        background-color: white;
        background-image: url("/img/alien.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        behavior: url("/lib/PIE-1.0.0/PIE.php"); }
    #site-content .section h2 {
      font-family: "bebas-neue";
      margin: 0px 0px 20px 0px;
      padding: 0px 20px 0px 10px;
      vertical-align: bottom;
      background-color: orange;
      color: white;
      height: 30px;
      display: inline-block;
      line-height: 32px;
      position: relative; }
      #site-content .section h2:after {
        position: absolute;
        top: 0px;
        left: -12px;
        content: '';
        width: 12px;
        height: 42px;
        background-image: url("/img/ribbon.png"); }

#sentence-predictor {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none; }
  #sentence-predictor ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #FFC883; }
  #sentence-predictor :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFC883; }
  #sentence-predictor ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFC883; }
  #sentence-predictor :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #FFC883; }
  #sentence-predictor h1 {
    margin-bottom: 0px !important; }
  #sentence-predictor textarea, #sentence-predictor div {
    vertical-align: bottom; }
  #sentence-predictor textarea {
    border: 0px;
    width: 760px;
    background-color: #E48B4F;
    resize: none;
    margin: 0px;
    padding: 20px;
    font-size: 30px;
    color: white;
    height: 200px;
    outline: none;
    display: inline-block; }
  #sentence-predictor #sentence-button, #sentence-predictor #clear-button {
    display: inline-block;
    background-color: #444;
    height: 50px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'bebas-neue';
    font-size: 30px;
    line-height: 50px; }
    #sentence-predictor #sentence-button:hover, #sentence-predictor #clear-button:hover {
      opacity: .9; }
  #sentence-predictor #sentence-button {
    width: 400px; }
  #sentence-predictor #clear-button {
    width: 399px;
    border-left: 1px solid #E48B4F; }

#upvote-predictor ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #FFC883; }
#upvote-predictor :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFC883; }
#upvote-predictor ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFC883; }
#upvote-predictor :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #FFC883; }
#upvote-predictor h1 {
  margin-bottom: 0px !important; }
#upvote-predictor textarea, #upvote-predictor div {
  vertical-align: bottom; }
#upvote-predictor textarea {
  border: 0px;
  width: 600px;
  background-color: #E48B4F;
  resize: none;
  margin: 0px;
  padding: 20px;
  font-size: 30px;
  color: white;
  height: 200px;
  outline: none;
  display: inline-block; }
#upvote-predictor #upvote-wrapper {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 240px; }
#upvote-predictor #comment-result {
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  height: 80px;
  line-height: 80px;
  font-family: 'bebas-neue';
  font-size: 30px;
  color: #555;
  text-align: center; }
#upvote-predictor img.alien {
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 100px; }
#upvote-predictor #upvote-subreddit {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 55px;
  font-family: 'bebas-neue';
  font-size: 20px;
  color: #555;
  text-align: center; }
#upvote-predictor #upvote-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #444;
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: 'bebas-neue';
  font-size: 30px;
  line-height: 50px; }
  #upvote-predictor #upvote-button:hover {
    opacity: .8; }
